# Carpetas de caché y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/

# Archivos de configuración local
*.env
*.DS_Store
*.log

# Archivos temporales
*.swp
*.bak
*.tmp

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Archivos generados por Streamlit (a veces útiles ignorarlos)
.streamlit/config.toml

# Archivos de datos (si quieres ignorarlos, opcional)
# data/*.csv
# data/*.xlsx