
#monitorizar_encabezado {
  margin: 90px;
}

#monitorizar {
  background-color: var(--blanco-verde);
}

#header_moni {
  background-image: url("/static/img/cebra.avif");
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  margin-bottom: 50px;
}

/* ESTADÍSTICAS */
.estadisticas {
    margin: 50px !important;
}
  
/* TABLA */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse; /* Asegura que las celdas no tengan espacio entre ellas */
  background-color: #FFFFFF; /* Blanco */
  border: 1px solid #8A9A5B; /* Verde musgo pálido */
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table th {
  background-color: #556B2F; /* Verde oliva */
  color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F5F5DC; /* Beige claro */
}

#encabezado_monitorizar {
  padding: 50px;
  background-color: var(--marron-chocolate);
  color: #FFF8DC;
}

.d-flex.justify-content-between.align-items-center.mb-4 {
  margin-left: 70px;
  margin-right: 55px;
  margin-top: 30px;;
}

.d-flex.justify-content-between.align-items-center.mb-4 h3 {
  color: var(--beige-claro-2);
}