/*
    NATURALEZA
    Verde bosque (#2c6e40)
    Marrón suave (#9e7e46)
    Verde claro (#b4dcb3)
    Beige (#f3f3f3)
    Gris cálido (#8e8d8a)

    ALERTA
    Rojo coral (#e64a42)
    Naranja cálido (#f5a623)
    Verde musgo (#5a7b3b)
    Gris oscuro (#4d4d4d)
    Blanco roto (#f0f0f0)
*/

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #8e8d8a;
}