{% extends "layout.html" %}
{% block title %}Galeria{% endblock %}

{% block content %}
<!-- Encabezado -->
<div class="container-fluid" id="galeria">
  <h2 class="text-center mt-4">Explora el Mundo Animal</h2>
  <p class="text-center m-5">Busca el nombre de un animal y obtén información completa sobre él.</p>
</div>

<div class="container" id="contGaleria">
    <div class="input">
      <input
        type="text"
        class="form-control autocomplete"
        id="autocompleteInput"
        placeholder="Buscar por animal"
      />
    </div>
    <div class="card text-center mt-2">
      <div class="card-body">
        <h5 id="nombre" class="card-title">Cargando el animal...</h5>
        <p id="descripcion" class="card-text">(...)</p>
      </div>
      <img
        id="imagen"
        src="https://placehold.co/1000x400"
        class="card-img-bottom"
        alt="Imagen de ejemplo"
      />
    </div>
</div>

<script type="module" src="/static/js/main.js"></script>
{% endblock %}