{% extends "layout.html" %} <!-- Esto incluye el layout base que contiene la barra de navegación y el contenedor principal. -->
{% block title %}Inicio{% endblock %} <!-- Esto establece el título de la página. -->

{% block content %} <!-- Se inicia el bloque de contenido que se sobreescribirá en la plantilla base. -->


<!-- Carrusel de imágenes -->
<div class="m-0" id="yoquese">
  <section id="eco-carousel">
      <div class="eco-caption">
        <h1 id="textito">Bienvenidos a N-World</h1>
        <p>Protegiendo la biodiversidad con tecnología y acción</p>
      </div>
    
      <div class="swiper mySwiper swiper-fade">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url('/static/img/carrousel1.webp');"></div>
          <div class="swiper-slide" style="background-image: url('/static/img/aguila1.jfif');"></div>
          <div class="swiper-slide" style="background-image: url('/static/img/polar3.jpg');"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
  </section>
</div>

<!-- Tres íconos -->
<div class="container-fluid p-5" id="iconos">
  <div class="row">
    <div class="col-lg-4">
      <button class="btn icon-button">
        <a href="/monitorizar" class="icon-link">
          <img class="rounded-circle icon-img" src="/static/img/planeta1.png" alt="imagen1" width="140" height="140">
        </a>
      </button>
      <h2>Monitorizar especies</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p> 
    </div>

    <div class="col-lg-4">
      <button class="btn icon-button">
        <a href="/especies" class="icon-link">
          <img class="rounded-circle icon-img" src="/static/img/lupa1.png" alt="imagen2" width="140" height="140">
        </a>
      </button>
      <h2>Buscar especie</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p> 
    </div>

    <div class="col-lg-4">
      <button class="btn icon-button">
        <a href="/huella_carbono" class="icon-link">
          <img class="rounded-circle icon-img" src="/static/img/huella.png" alt="Generic placeholder image" width="140" height="140">
        </a>
      </button>
      <h2>Calcula tu Huella</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </div><!-- /.row -->
</div>



<!-- Texto adicional en la página -->
<div class="text-center m-5">
  <h2 class="fw-bold">¡Contribuye a la conservación global!</h2>
  <p class="lead text-muted">Únete a nosotros para proteger especies en peligro y combatir el cambio climático. Descubre cómo con EcoMonitor, cada acción cuenta.</p>
  <a href="/especies" class="btn btn-primary">Explorar especies en peligro</a>
  <a href="/huella_carbono" class="btn btn-dark">Calcula tu huella de carbono</a>
</div>


<!--
  <h2 class="fw-bold">🌱 ¿Qué hacemos?</h2>
        <p class="lead text-muted">En EcoMonitor, utilizamos tecnología avanzada para monitorear y proteger especies en peligro de extinción. Nuestro objetivo es crear conciencia y promover acciones efectivas para la conservación de la biodiversidad.</p>
        <a href="/acciones" class="btn btn-success">Descubre nuestras acciones</a>
-->
        

<!-- Sección de Noticias -->
<div class="container mb-5 p-5" id="noticias">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center">
      <div class="w-100">
        <p>Infórmate sobre las últimas noticias y actualizaciones en conservación. Descubre proyectos, estudios y acciones globales para proteger nuestra biodiversidad. <b>¡Mantente informado y haz la diferencia!</b></p>
        <a href="/blog" class="btn btn-primary" 
          data-bs-toggle="tooltip" 
          data-bs-placement="bottom" 
          title="Ir al Blog">
          Visitar Blog
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">📰 Noticias & Blog</h5>
          <p class="card-text"></p>
          <img src="/static/img/blog1.jpg" alt="imagen1" class="img-fluid rounded-start" style="width: 100%; height: 500px; object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Texto adicional en la página -->
<div class="text-center mb-5">
  <h2 class="fw-bold">Explora la biodiversidad del mundo</h2>
  <p class="lead text-muted">Nuestro planeta está lleno de vida. Descubre las especies más increíbles y cómo podemos protegerlas para las generaciones futuras.</p>
  <a href="/galeria" class="btn btn-info">Ver Galería de Especies</a>
</div>

<!-- Sección de tarjetas de información -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">🤝 Cómo Ayudar</h5>
        <p class="card-text">Haz tu parte a través de donaciones o participando como voluntario en proyectos de conservación.</p>
        <a href="/acciones" class="btn btn-success">Descubre cómo</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">🌟 Casos de Éxito</h5>
        <p class="card-text">Inspírate con historias de especies salvadas gracias a la acción humana.</p>
        <a href="/casos_exito.html" class="btn btn-warning">Ver casos</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">🐾 Especies en Peligro</h5>
        <p class="card-text">Conoce las especies más amenazadas y cómo podemos ayudar a salvarlas.</p>
        <a href="/especies" class="btn btn-danger">Ver más</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">📸 Galería</h5>
        <p class="card-text">Descubre impresionantes fotos de especies, hábitats y proyectos de conservación.</p>
        <a href="/galeria" class="btn btn-secondary">Explorar galería</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">♻️ Calculadora de Huella</h5>
        <p class="card-text">Calcula tu huella de carbono y recibe recomendaciones para reducirla.</p>
        <a href="/huella-carbono" class="btn btn-dark">Calcular huella</a>
      </div>
    </div>
  </div>
</div>

<!-- Texto adicional en la página -->
<div class="text-center m-5">
  <h2 class="fw-bold">Proyectos de conservación global</h2>
  <p class="lead text-muted">Descubre nuestros proyectos en marcha para salvar especies en peligro de extinción. Juntos podemos hacer la diferencia.</p>
  <a href="/casos_exito.html" class="btn btn-warning">Ver Casos de Éxito</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> <!--Carrousel-->
<script src="/static/js/script.js"></script>
{% endblock %} <!-- Se cierra el bloque de contenido. -->
