{% extends "layout.html" %} <!-- Esto incluye el layout base que contiene la barra de navegación y el contenedor principal. -->
{% block title %}Inicio{% endblock %} <!-- Esto establece el título de la página. -->

{% block body_class %}{% endblock %} <!-- Para evitar el mt-5 -->

{% block content %} <!-- Se inicia el bloque de contenido que se sobreescribirá en la plantilla base. -->

<link rel="stylesheet" href="index.css"> <!-- Se incluye el CSS específico para la página de inicio. -->

<!-- Carrusel de imágenes -->
<div class="carrousel" id="carrousel_index">
  <section id="eco-carousel">
    <div class="eco-caption">
      <h1 id="textito">Bienvenidos a N-World</h1>
      <p>Protegiendo la biodiversidad con tecnología y acción</p>
    </div>

    <div class="swiper mySwiper swiper-fade">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/static/img/index/carrousel1.webp" alt="Imagen 1" class="swiper-image">
        </div>
        <div class="swiper-slide">
          <img src="/static/img/index/aguila1.jfif" alt="Imagen 2" class="swiper-image">
        </div>
        <div class="swiper-slide">
          <img src="/static/img/index/polar3.jpg" alt="Imagen 3" class="swiper-image">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
</div>


<!-- Tres íconos -->
<div class="container-fluid p-5" id="iconos">
  <div class="row">
    <div class="col-lg-4">
      <button class="btn icon-button">
        <a href="/monitorizar" class="icon-link">
          <img class="rounded-circle icon-img" src="/static/img/index/planeta1.png" alt="imagen1" width="140" height="140">
        </a>
      </button>
      <h2>Monitorizar especies</h2>
    </div>

    <div class="col-lg-4">
      <button class="btn icon-button">
        <a href="/especies" class="icon-link">
          <img class="rounded-circle icon-img" src="/static/img/index/lupa1.png" alt="imagen2" width="140" height="140">
        </a>
      </button>
      <h2>Buscar especie</h2>
    </div>

    <div class="col-lg-4">
      <button class="btn icon-button">
        <a href="/huella_carbono" class="icon-link">
          <img class="rounded-circle icon-img" src="/static/img/index/huella.png" alt="Generic placeholder image" width="140" height="140">
        </a>
      </button>
      <h2>Calcula tu Huella</h2>
    </div>
  </div>
</div>

<!-- Texto adicional en la página -->
<section id="introduccion">
  <div class="text-center m-5">
    <h2 class="fw-bold">¡Contribuye a la conservación global!</h2>
    <p class="text-center m-5">Únete a nosotros para proteger especies en peligro y combatir el cambio climático. Descubre cómo con EcoMonitor, cada acción cuenta.</p>
  </div>
  
  <div class="colapsados">
    <p class="gap-1">
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">¿Qué hacemos?</a>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Nuestros objetivos</button>
    </p>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-body">Nos enfocamos en monitorear las poblaciones de especies en peligro y predecir sus fechas de extinción para recomendar acciones de conservación efectivas</div>
        </div>
      </div>
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
          <div class="card card-body">
            <ul>
              <li>Alertar sobre las especies más vulnerables y su posible extinción</li>
              <li>Brindar recomendaciones basadas en predicciones para guiar estrategias de protección</li>
            </ul>          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Sección de Noticias -->
<div class="container mb-5 p-5" id="noticias">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center">
      <div class="w-100">
        <p>Infórmate sobre las últimas noticias y actualizaciones en conservación. Descubre proyectos, estudios y acciones globales para proteger nuestra biodiversidad. <b>¡Mantente informado y haz la diferencia!</b></p>
        <a href="/blog" class="btn btn-primary" 
          data-bs-toggle="tooltip" 
          data-bs-placement="bottom" 
          title="Ir al Blog">
          Visitar Blog
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Noticias & Blog</h5>
          <p class="card-text"></p>
          <img src="/static/img/index/blog1.jpg" alt="imagen1" class="img-fluid rounded-start" style="width: 100%; height: 500px; object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row mb-2 d-flex" id="seccionIndex3">
  <h3>Voluntariado</h3>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">Especies en conservación</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Casos exitosos de especies salvadas</a>
        </h3>
        <div class="mb-1 text-muted">Mar 12</div>
        <p class="card-text mb-auto">Haz clic para descubrir historias inspiradoras de especies que han sido salvadas gracias al esfuerzo de la conservación. Aprende cómo estas iniciativas marcan la diferencia y cómo tú también puedes contribuir a preservar la biodiversidad.</p>
        <a href="#">Continue reading</a>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" src="/static/img/index/tortuga.jpg" id="imagenIndexCasos">
    </div>
  </div>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-success">Voluntariado</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Descubre lugares para hacer voluntariado</a>
        </h3>
        <div class="mb-1 text-muted">Nov 11</div>
        <p class="card-text mb-auto">¿Te interesa el voluntariado? Haz clic aquí para conocer lugares increíbles donde puedes ofrecer tu tiempo y habilidades para causas sociales, de conservación y apoyo comunitario. ¡Haz la diferencia hoy mismo!</p>
        <a href="#">Continue reading</a>
      </div>
      <img class="card-img-right flex-auto d-none d-md-block" src="/static/img/voluntariado.jpg" id="imagenIndexCasos">
    </div>
  </div>
</div>



<article id="one" class="post style1 container py-5">
  <div class="row align-items-center">
    <!-- Columna de la imagen -->
    <div class="col-md-6 mb-4 mb-md-0">
      <img src="/static/img/index/huella3.jfif" alt="Imagen planta" class="img-fluid rounded shadow-lg">
    </div>

    <!-- Columna del contenido -->
    <div class="col-md-6">
      <header>
        <h2><a href="generic.html" class="text-green">Calcula tu huella de carbono en 3 simples pasos</a></h2>
        <p class="info text-muted">Publicado hace 3 días por <a href="#">Jane Doe</a></p>
      </header>
      <p>Reducir tu huella de carbono es una acción esencial para la conservación del planeta. En este artículo te enseñamos
        cómo calcularla fácilmente. A través de tres simples pasos, podrás conocer el impacto ambiental de tus actividades diarias
        y empezar a tomar decisiones más responsables para mitigar ese impacto. ¡El futuro de nuestro planeta depende de todos!</p>
      
      <h5>Pasos para calcular tu huella de carbono:</h5>
      <ul>
        <li><strong>1. Identificar tus fuentes de emisiones:</strong> Automóviles, energía, residuos, etc.</li>
        <li><strong>2. Medir el consumo de recursos:</strong> Estima el consumo de energía, agua y transporte.</li>
        <li><strong>3. Calcular el impacto:</strong> Utiliza herramientas en línea para obtener un cálculo preciso.</li>
      </ul>
      
      <ul class="actions list-unstyled">
        <li><a href="generic.html" class="btn btn-outline-success">Leer más</a></li>
      </ul>
    </div>
  </div>
</article>


<article id="one" class="post style1 container py-4">
  <div class="row align-items-center">
    <!-- Columna del contenido (a la izquierda en desktop) -->
    <div class="col-md-6 order-2 order-md-1">
      <header>
        <h2><a href="generic.html">Ipsum lorem sed magna</a></h2>
        <p class="info">3 days ago by <a href="#">Jane Doe</a></p>
      </header>
      <p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia
        condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper
        semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
      <ul class="actions list-unstyled">
        <li><a href="generic.html" class="btn btn-outline-primary">Read More</a></li>
      </ul>
    </div>

    <!-- Columna de la imagen (a la derecha en desktop) -->
    <div class="col-md-6 order-1 order-md-2 mb-3 mb-md-0">
      <img src="/static/img/planta1.png" alt="Imagen planta" class="img-fluid rounded">
    </div>
  </div>
</article>


<!-- Texto adicional en la página -->
<div class="text-center m-5">
  <div class="container">
    <h1 class="display-5">Protegiendo la Vida Salvaje del Mundo</h1>
    <p class="lead">Explora áreas protegidas que están salvando especies en peligro en todo el planeta.</p>
    <a href="/refugios" class="btn btn-info">Ver Refugios</a>
  </div>
</div>

<article id="one" class="post style1 container py-4">
  <div class="row align-items-center">
    <!-- Columna de la imagen -->
    <div class="col-md-6 mb-3 mb-md-0">
      <img src="/static/img/planta1.png" alt="Imagen planta" class="img-fluid rounded">
    </div>

    <!-- Columna del contenido -->
    <div class="col-md-6">
      <header>
        <h2><a href="generic.html">Ipsum lorem sed magna</a></h2>
        <p class="info">3 days ago by <a href="#">Jane Doe</a></p>
      </header>
      <p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia
        condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper
        semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
      <ul class="actions list-unstyled">
        <li><a href="generic.html" class="btn btn-outline-primary">Read More</a></li>
      </ul>
    </div>
  </div>
</article>

<!-- Texto adicional en la página -->
<div class="text-center m-5">
  <h2 class="fw-bold">Proyectos de conservación global</h2>
  <p class="lead text-muted">Descubre nuestros proyectos en marcha para salvar especies en peligro de extinción. Juntos podemos hacer la diferencia.</p>
  <a href="/casos_exito.html" class="btn btn-warning">Ver Casos de Éxito</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> <!--Carrousel-->
<script src="/static/js/script.js"></script>
{% endblock %} <!-- Se cierra el bloque de contenido. -->
