<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}EcoMonitor{% endblock %}</title>
    <!-- Título de la página, se sobreescribe en cada página -->

    <!-- CSS Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- CSS personalizado -->
    <link href="static/css/styles.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top"> <!-- Hace que el menu quede fijo -->
      <div class="container-fluid">
        <a class="navbar-brand" aria-current="page" href="/">Nombre</a>
        <!-- Nombre de la empresa cambiado -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/blog">Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="casos_exito.html">Casos éxito</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Especies en peligro
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/monitorizar"
                    >Monitorear especies</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/especies">Buscar especie</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/galeria">Galería</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Buscar"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Buscar
            </button>
          </form>
        </div>
      </div>
    </nav>

    <!-- Contenido principal -->
    <div class="">{% block content %}{% endblock %}</div>

    <!-- Sección de pie de página -->
    <section class="footer">
      <div class="container">
        <div class="row justify-content-between">
          <!-- Columna 1: Logo y Descripción -->
          <div class="col-lg-6 col-sm-12 pe-5">
            <a href="/">
              <img
                class="img-fluid logo-footer mt-5 mb-4"
                src="/static/img/logo.png"
                alt="Logo Nombre"
              />
            </a>
            <p class="w-lg-75 text-gray">
              EcoMonitor es una plataforma dedicada al monitoreo y seguimiento de especies en peligro de extinción. A través de nuestra tecnología, proporcionamos datos esenciales para apoyar los esfuerzos de conservación y promover la preservación de la biodiversidad global.
            </p>
          </div>

          <!-- Columna 2: Navegación -->
          <div class="col-lg-3 col-sm-12">
            <h3 class="fw-bold fs-1 mt-5 mb-4">Navegación</h3>
            <ul class="list-unstyled">
              <li class="my-3"><a href="/">Inicio</a></li>
              <li class="my-3"><a href="/blog">Noticias</a></li>
              <li class="my-3"><a href="casos_exito.html">Casos de Éxito</a></li>
              <li class="my-3"><a href="/monitorizar">Monitorear Especies</a></li>
              <li class="my-3"><a href="/especies">Buscar Especie</a></li>
              <li class="my-3"><a href="/galeria">Galería</a></li>
            </ul>
          </div>

          <!-- Columna 3: Recursos -->
          <div class="col-lg-3 col-sm-12">
            <h3 class="fw-bold fs-1 mt-5 mb-4">Recursos</h3>
            <ul class="list-unstyled">
              <li class="my-3"><a href="#">GBIF</a></li>
              <li class="my-3"><a href="#">Documentación</a></li>
              <li class="my-3"><a href="#">Guías y Apoyo</a></li>
            </ul>
          </div>

        <p class="text-gray mt-5">All rights reserved. Nombre &copy; 2025</p>
        <!-- Nombre de la empresa -->
      </div>
    </section>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
